body { 
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-family: Arial;
    font-weight: 400;
}

header, a {
    background-color: #17072b;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

h1, h2 {
    font-family: Tahoma;
    font-weight: 700;
    text-decoration: underline;
}

h1 {
    font-size: 2.5vw;
}

a, h2 {
    font-size: 1.5vw;
}

aside {
    background-color: #172d67;
    color: #FFFFFF;
}

footer {
    background-color: #8c15e9;
    text-align: center;
    color: #FFFFFF;
}